/* Google Font Import - Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: rgb(148, 114, 243);
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    min-height: 100h;
    background-color: var(--body-color);
}

.container {
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    background: var(--body-color);
    padding: 25px 40px;
    border-radius: 5px;
}

.container .title {
    font-size: 15px;
    font-weight: 400;
    position: absolute;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    width: calc(100% / 2 - 5%);
}

form .button .input {
    width: calc(100% / 2 - 5%);
}

.box {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.box .first {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.pic .second {
    width: 10%;
    height: 20%;
    position: absolute;
    top: 13%;
    left: 45%;
    border-radius: 100px;
}

.box button {
    border: 1px solid #707070;
    background-color: black;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin: 0px;
    transition: all 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.box input[type="file"] {
    display: none;
}

.pic input[type="file"] {
    display: none;
}

.box label {
    box-sizing: border-box;
    font-weight: 400;
    border: 1px solid black;
    background-color: rgb(18, 18, 73);
    color: #FFF;
    padding: 2px 15px;
    border-radius: 5px;
    transition: all 0.3s;
    position: absolute;
    top: 35%;
    left: 44%;
}

.pic label {
    box-sizing: border-box;
    font-weight: 400;
    border: 1px solid black;
    background-color: rgb(18, 18, 73);
    color: #FFF;
    padding: 2px 15px;
    border-radius: 5px;
    transition: all 0.3s;
    position: absolute;
    top: 10%;
    left: 64%;
}

form .user-details .input-box .details {
    font-weight: 400;
    margin-bottom: 5px;
    margin-bottom: 5px;
}

form .user-details .input-box input {
    height: 45px;
    width: 100%;
}

form .user-details .input-boxy input {
    height: 45px;
    width: 250%;
}

form .user-details .input-boxy .details {
    font-weight: 400;
    margin-bottom: 5px;
    margin-bottom: 5px;
}

form .user-details .input-boxy {
    width: calc(100% / 2 - 10%);
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 30px;
    width: 150px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    border: 1px solid black;
    background-color: rgb(18, 18, 73);
    border-radius: 5%;
}

*:focus {
    outline: none;
}

.drop {
    height: 45px;
    width: 100%;
}

.drop:hover .strength_list {
    opacity: 1;
    visibility: visible;
}

.drop-select {
    height: 45px;
    width: 322px;
    padding: 1rem;
    border-radius: 1px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: absolute;
}

.strength_list {
    border-radius: 4px;
    background-color: white;
    position: absolute;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
}

.strength_list_item {
    padding: 1rem;
}


/* ===== Sidebar ===== */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: rgb(43, 40, 40);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}


/* ===== Reusable code - Here ===== */

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: rgb(243, 239, 239);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}


/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

.sidebar.close~.boxy {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}